body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;

}

footer {
    padding: 24px 0;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:#FF5733;
}

img {
    height: 200px;
}

h1 {
    color: black;

}

footer {
    padding: 14px;
    background-color: greenyellow;
    position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   font-size:larger;
   font-style:normal;
}

.grid1 {
display:grid;
grid-template-columns: auto auto auto auto ;

}

a {
    color:aliceblue;
    text-decoration: none;
}

.title {
    color:green;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

tr:nth-child(even) {
    background-color: #f2f2f2;
}
